@import url("https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lora", sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #f0eff4;
}

html {
  width: 100%;
}

:root {
  --text-black: #404040;
}

.active {
  border-bottom: 1px solid var(--text-black);
}

.nav-btn {
  border: 1px solid var(--text-black);
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px 40px;
  color: var(--text-black);
  position: relative;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

@media (hover: hover) {
  .nav-btn:hover {
    border-radius: 15px;
  }
}